html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body{
    height: 100%;
    font-size: 16px;
}

/*Header*/

header{
    width: 100%;
    z-index: 10;
    height: 70px;
    position: fixed;
}
.wrapper{
    overflow: hidden;
    min-height: 100%;
}

header, footer{
    font-size: 20px;
    background: -webkit-radial-gradient(center, circle farthest-side, #000, rgba(122,122,122,1) 80%);
    color: white;
    box-sizing: border-box;
}
header .logo{
    width: 67px;
    height: 50px;
    background: url('img/Symbol/4.gif');
    background-repeat: no-repeat;
    background-size: contain;
    float:left;
}
.logo, .search, .basket, .authorization, .imgStar, .layoutDescription h1, .addCart {
    display: inline-block;
    box-sizing: border-box;
}
.search, .basket, .authorization{
    float:right;
}
.logo, .search, .basket, .authorization{
    color:white;
    margin:  10px 15px 10px 15px;
}

header .basket,header .authorization{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;

}
header .basket:hover,header .authorization:hover{
    color: #b8b8b8;
    border: 1px solid #b8b8b8;
}
header .basket-img{
    background-image: url('img/Symbol/shopping-cart.gif');
}

header .authorization-img{
    background-image: url('img/Symbol/logo-login.png');
}
header .basket-img, .authorization-img{
    background-size: contain;
    width: 20px;
    height:20px;
    float:left;
    background-repeat: no-repeat;
    padding-left:5px;
}

                        /*Footer*/

footer{
    margin-top: -50px;
    height: 50px;
    padding-top: 12px;
    text-align: center;    
}

                        /*Content*/

.elementspage {
    width: 90%;
    float: right;    
    box-sizing: border-box;
    margin-bottom: 70px;
}

.elementspage--style {
    padding-top: 70px;
}

.elementspage__content { 
    margin: auto;
    position: relative; 
    width: 80%;    
}

.elementspage__content:after, .elementspagesquare:after, .elementspagesquare__include:after {
    display: block;
    content: '';
    clear: both;
}

.viewmode {    
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;    
}

                        /*Items*/

.elementspagelink {    
    text-decoration: none;    
}

.elementspagelink:link {
    color: black;
}


.elementspagelink--style {
    width: 80%;
    display: inline-block;
    clear: both;
}

.elementspagelink:visited {
    color: blue;
}

.elementspagelink:hover {
    color: orange;
}

.elementspagelink:active {
    color: red;
}

.elementspagesquare {    
    width: 25%;    
    height: 200px;    
}

.elementspagesquare--style {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    float: left;
}

.elementspagesquare__include {
    width: 100%;
    height: 180px;
    clear: both;
}

.squareList {
    vertical-align: top;
    width: 500px;    
    height: 150px;
    text-align: center;
    margin: auto;    
    font-size: 12px;    
}

.elementspagelink__img {    
    height: 150px;    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;   
}

.motherLinkProperties {
    display: inline-block;
    white-space: nowrap;
    height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}

.listPrice {    
    display: inline-block;
    padding-right: 15px;
    float: right;
}

.elementspagelink__img--img1 {    
    background-image: url('img/motherboard/Gigabyte/GIGABYTE%20GA-78LMT-S2.jpg');    
}

.elementspagelink__img--img2 {
    background-image: url('img/motherboard/Gigabyte/GIGABYTE%20GA-990FXA-UD5.jpg');
}
.elementspagelink__img--img3 {
    background-image: url('img/motherboard/Gigabyte/GIGABYTE%20GA-B85-HD3.jpg');
}
.elementspagelink__img--img4 {
    background-image: url('img/motherboard/Gigabyte/GIGABYTE%20GA-B85M-D3H%20(rev.%202.0).jpg');
}
.elementspagelink__img--img5 {
    background-image: url('img/motherboard/Gigabyte/GIGABYTE%20GA-H81M-S2PV.jpg');
}
.elementspagelink__img--img6 {
    background-image: url('img/motherboard/ASRock/ASRock%20970%20Pro3.jpg');
}
.elementspagelink__img--img7 {
    background-image: url('img/motherboard/ASRock/ASRock%20H61M-VG4.jpg');
}
.elementspagelink__img--img8 {
    background-image: url('img/motherboard/ASRock/ASRock%20H81M-DG4.jpg');
}
.elementspagelink__img--img9 {
    background-image: url('img/motherboard/ASRock/ASRock%20H97M%20Pro4.jpg');
}
.elementspagelink__img--img10 {
    background-image: url('img/motherboard/ASRock/ASRock%20Socket-AM1%20AM1B-MDH.jpg');
}

                            /*Menu*/

.navbar {
    width: 10%;    
    margin-top: 120px;    
    box-sizing: border-box;    
}

.navbar--desktop {
    position: fixed;
    list-style-type: none;
    border: 5px solid rebeccapurple;
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navbar__link {
    z-index: 100;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid rebeccapurple;
    padding: 5px;
    text-decoration: none;
    padding-left: 5px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.navbar__link:link {
    color: black;
}

.navbar__link:visited {
    color: blue;
}

.navbar__link:hover {
    color: white;
    background: rebeccapurple;
}

.navbar__link:active {
    color: red;
}

.navbar__link--active {
    background-color: aqua;
}

.navbar__img--mother {      
    background-image: url('img/Symbol/Motherboard.jpg');    
}

.navbar__img--cpu {
    background-image: url('img/Symbol/CPU.jpg');
}

.navbar__img--ram {
    background-image: url('img/Symbol/RAM.jpg');
}

.navbar__img--video {
    background-image: url('img/Symbol/Video%20adapter.jpg');
}

.navbar__img--hdd {
    background-image: url('img/Symbol/HDD.jpg');
}

.navbar__img--power {
    background-image: url('img/Symbol/Power%20source.jpg');
}

.navbar__img--cooling {
    background-image: url('img/Symbol/Cooling.jpg');
}
.navbar__img {    
    display:block;
    background-size: contain;
    width: 30px;
    height:25px;
    float: left;
    background-repeat: no-repeat;
    background-position: left;   
    padding-right: 8px;
}