html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
    font-size: 16px;
}
/*Header*/
header .logo{
    float:left;
}
.search, .basket, .authorization{
    float:right;
}
.logo, .search, .basket, .authorization{
    display: inline-block;
    margin:  10px 15px 10px 15px;
}
header .logo{
    background: url('img/');
}
header .basket, .authorization{
    border:1px solid;
    border-radius: 4px;
    padding:10px;
    text-decoration: none;
    line-height: 0.9;
}
header .basket:hover, .authorization:hover{
    color: blueviolet;
}
header .basket-img:before{
    background-image: url('img/Symbol/shopping-cart.gif');
}
header .basket-img, .authorization-img {
    padding-left:5px;
}
header .authorization-img:before{
    background-image: url('img/Symbol/logo-login.png');
}
header .basket-img:before, .authorization-img:before{
    content: "";
    display:block;
    background-size: contain;
    width: 20px;
    height:20px;
    float:left;
    background-repeat: no-repeat;
    background-position: center;
}
/*Content*/
.tab-content .imgCooling:before{
    background-image: url('img/Cooling/DEEPCOOL/DEEPCOOL%20Beta%2010.jpg');
}
.tab-content .imgCooling:before, .imgCPU:before, .imgHDD:before, .imgMotherboard:before, .imgPowerSource:before, .imgRAM:before, .imgvideoAdapter:before{
    content: "";
    display:block;
    background-size: contain;
    height:200px;
    background-repeat: no-repeat;
    background-position: center;
}
.tab-content .imgCPU:before{
    background-image: url('img/CPU/Intel/Intel%20Pentium%20G2020%20OEM.jpg');
}
.tab-content .imgHDD:before{
    background-image: url('img/HDD/Hitachi/Hitachi%20Deskstar%20H3IKNAS30003272SE%203%20%D0%A2%D0%B1.jpg');
}
.tab-content .imgMotherboard:before{
    background-image: url('img/motherboard/Asus/ASUS%20H61M-K.jpg');
}
.tab-content .imgPowerSource:before{
    background-image: url('img/Power%20source/Aero%20Cool/Aerocool KCAS 500W.jpg');
}
.tab-content .imgRAM:before{
    background-image: url('img/RAM/A-Data/A-DATA%20XPG%20V1%20%5BAX3U1600W4G11-DD%5D%208%20%D0%93%D0%B1.jpg');
}
.tab-content .imgvideoAdapter:before{
    background-image: url('img/CPU/Intel/Intel%20Pentium%20G2020%20OEM.jpg');
}
.tab-content{
    text-align:center;
    padding:30px 50px 30px 50px;
}
.tab-content-layout, .productLayout{
    width: 90%;
    margin: 0 auto;
}
.tab-content .layoutCategories{
    display: inline-block;
    list-style: none;
    vertical-align: top;
}
.tab-content .Categories{
    box-sizing: border-box;
    display: inline-block;
    width:200px;
    height:250px;
    border:1px solid black;
    margin-left: 70px;
    margin-right:70px;
    margin-top: 30px;
    margin-bottom: 30px;
}
header:after, .tab-content:after{
    display: block;
    content: '';
    clear: both;
}
header, section, footer{
    width:100%;
    border:1px solid black;
    min-height: 50px;
}
section{
    min-height: 200px;
}
.Categories:hover{
    border:none;
    font-size: 25px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
/*Login*/
.login{
    box-sizing: border-box;
    position: absolute;
    top:50%;
    left:50%;
    padding: 20px 40px 20px 40px;
    margin: -130px 0 0 -150px;
    width: 300px;
    min-height: 200px;
    border: 1px solid black;
    border-radius: 4px;
    background: -webkit-gradient(linear, 100% 100%, 100% 0%, color-stop(0.57, rgb(230, 230, 230)), to(rgb(255, 255, 255)));
}
.login .close{
    position: absolute;
    right: -10px; 
    top: -10px; 
    width: 1.1em;
    padding: 1px 1px 1px 2px;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    font-weight: normal;
    background: red;
    color: black;
    border: 3px solid #fff;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.login input{
    box-sizing: border-box;
    padding: 3px;
    width:217px;
    margin-bottom: 7px;
    border-radius:4px;
    border:2px solid darkblue;
}
input:last-of-type{
    margin-top:10px;
}
.login .view {
    margin-top: 42px;
}
.login input[type="checkbox"]{
    width:15px;
}
.register{
    float:right;
}
.login p{
    text-align: center;
    padding-bottom: 2px;
}

.navbar {       
    list-style-type: none;
}

.navbar a {
    background-color: 
}

.navbar a:link {
    color: black;
}

.navbar a:visited {
    color: blue;
}

.navbar a:hover {
    color: orange;
}
/*Product description*/
.productDescription{
    padding-top: 10px;
    box-sizing: border-box;
    width:70%;
    margin: 0 auto;
}
.productDescription:after{
    display: block;
    clear: both;
    content: '';
}
.productDescription .breadcrumb, .breadcrumb>li{
    display: inline-block;
    list-style-type: none;
    font-size: 13px;
}
.slider-img {
    float: left;
    width:31%;
    height: 25%;
}
.slider-img .bigImg{
    margin-top:10px;
    width:70%;
    min-height: 200px;
    background-image: url('img/CPU/Intel/Intel%20Celeron%20G1620%20OEM.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -38px bottom 0px;
}
.slider-img .minImg img{
    width: 15%;
    min-height: 40px;
}
.layoutDescription{
    margin-top:50px;
    float: right;
    width: 50%;
}
.description{
    padding-top:10px;
    width:80%;
}
.imgStar{
    margin-left: 50px;
    display: inline-block;
    background: url('img/Symbol/rating.png')repeat-x;
    width:80px;
    height: 14px;
}
.raiting{

    display: inline-block;
    background: url('img/Symbol/rating-fill.png')repeat-x;
    width: 72px;
    height: 14px;
}



