html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
    font-size: 16px;
}

/*Header*/
header, footer{
    font-size: 20px;
    background: rgba(122,122,122,1);
    color: white;
    box-sizing: border-box;
}
header .logo{
    float:left;
    background: url('img/');
}
.logo, .search, .basket, .authorization, .imgStar, .layoutDescription h1, .addCart {
    display: inline-block;
    box-sizing: border-box;
}
.search, .basket, .authorization{
    float:right;
}
.logo, .search, .basket, .authorization{
    color:white;
    margin:  10px 15px 10px 15px;
}

header .basket, .authorization{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;

}
header .basket:hover, .authorization:hover{
    color: #b8b8b8;
    border: 1px solid #b8b8b8;
}
header .basket-img{
    background-image: url('img/Symbol/shopping-cart.gif');
}
header .basket-img, .authorization-img {
    padding-left:5px;
}
header .authorization-img{
    background-image: url('img/Symbol/logo-login.png');
}
header .basket-img, .authorization-img{
    background-size: contain;
    width: 20px;
    height:20px;
    float:left;
    background-repeat: no-repeat;
}
/*Content*/
.tab-content .imgCooling{
    background-image: url('img/Cooling/DEEPCOOL/DEEPCOOL%20Beta%2010.jpg');
}
.tab-content .imgCooling, .imgCPU, .imgHDD, .imgMotherboard, .imgPowerSource, .imgRAM, .imgvideoAdapter{
    content: "";
    background-size: contain;
    height:200px;
    background-repeat: no-repeat;
    background-position: center;
}
.tab-content .imgCPU{
    background-image: url('img/CPU/Intel/Intel%20Pentium%20G2020%20OEM.jpg');
}
.tab-content .imgHDD{
    background-image: url('img/HDD/Hitachi/Hitachi%20Deskstar%20H3IKNAS30003272SE%203%20%D0%A2%D0%B1.jpg');
}
.tab-content .imgMotherboard{
    background-image: url('img/motherboard/Asus/ASUS%20H61M-K.jpg');
}
.tab-content .imgPowerSource{
    background-image: url('img/Power%20source/Aero%20Cool/Aerocool KCAS 500W.jpg');
}
.tab-content .imgRAM{
    background-image: url('img/RAM/A-Data/A-DATA%20XPG%20V1%20%5BAX3U1600W4G11-DD%5D%208%20%D0%93%D0%B1.jpg');
}
.tab-content .imgvideoAdapter{
    background-image: url('img/CPU/Intel/Intel%20Pentium%20G2020%20OEM.jpg');
}
.tab-content{
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 30px 50px 30px 50px;
}
.tab-content-layout, .productLayout{
    width: 90%;
    margin: 0 auto;
}
.tab-content .layoutCategories, .Categories{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
.tab-content .Categories{
    width:200px;
    height:250px;
    border:1px solid black;
    margin-left: 70px;
    margin-right:70px;
    margin-top: 30px;
    margin-bottom: 30px;
}
header:after, .tab-content:after, footer, .itemsContent:after{
    display: block;
    content: '';
    clear: both;
}
header, footer{
    box-sizing: border-box;
    width:100%;
    border:1px solid black;
    border-left: none;
    border-right: none;
    min-height: 50px;
}

footer {     
    padding-top: 12px;
    text-align: center;    
}

.Categories:hover{
    border:none;
    font-size: 25px;
    -webkit-box-shadow: 0 0px 50px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0px 50px rgba(0,0,0,0.5);
    box-shadow: 0 0px 50px rgba(0,0,0,0.5);
}
/*Login*/
.login{
    margin:50px auto;
    box-sizing: border-box;
    position: relative;
    padding: 20px 40px 35px 40px;
    width: 300px;
    min-height: 200px;
    border: 1px solid black;
    border-radius: 4px;
    background: -webkit-gradient(linear, 100% 100%, 100% 0%, color-stop(0.57, rgb(230, 230, 230)), to(rgb(255, 255, 255)));
}
.login .close{
    position: absolute;
    right: -10px; 
    top: -10px; 
    width: 1.1em;
    padding: 1px 1px 1px 2px;
    text-decoration: none;
    text-align: center;
    background: red;
    color: black;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.login input{
    box-sizing: border-box;
    padding: 3px;
    width:217px;
    margin-bottom: 7px;
    border-radius:4px;
    border:2px solid darkblue;
}
input[placeholder="Search"]{
    margin-top:10px;
}
.login .view {
    margin-top: 42px;
}
.login input[type="checkbox"]{
    width:15px;
}
.register{
    float:right;
}
.login p{
    text-align: center;
    padding-bottom: 2px;
}

/*Menu*/
menu {      
    box-sizing: border-box;
    width: 10%;
    border: 5px solid rebeccapurple;
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navbar {
    z-index: 1;
    margin-top: 20px;
    list-style-type: none;
    position: fixed;
}

.navbar a {
    z-index: 100;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid rebeccapurple;
    padding: 5px;
    text-decoration: none;
    padding-left: 5px;
}

.navbar a:link {
    color: black;
}

.navbar a:visited {
    color: blue;
}

.navbar a:hover {
    color: white;
    background: rebeccapurple;
}
.navbar li:last-of-type a:hover {
    border-bottom-right-radius: 8px;
}
.navbar li:first-child a:hover {
    border-top-right-radius: 8px;
}

.navbar a:active {
    color: red;
}

menu .menumother-img {      
    background-image: url('img/Symbol/Motherboard.jpg');    
}

menu .menucpu-img {
    background-image: url('img/Symbol/CPU.jpg');
}

menu .menuram-img {
    background-image: url('img/Symbol/RAM.jpg');
}

menu .menuvideo-img {
    background-image: url('img/Symbol/Video%20adapter.jpg');
}

menu .menuhdd-img {
    background-image: url('img/Symbol/HDD.jpg');
}

menu .menupower-img {
    background-image: url('img/Symbol/Power%20source.jpg');
}

menu .menucooling-img {
    background-image: url('img/Symbol/Cooling.jpg');
}
.menumother-img, .menucpu-img, .menuram-img, .menuvideo-img, .menuhdd-img, .menupower-img, .menucooling-img {    
    display:block;
    background-size: contain;
    width: 30px;
    height:25px;
    float: left;
    background-repeat: no-repeat;
    background-position: left;   
    padding-right: 8px;
}

/*Product description*/
.productDescription{
    position: relative;
    padding-top: 10px;
    box-sizing: border-box;
    width:80%;
    margin: 0 auto;
}
.productDescription:after, description:after{
    display: block;
    clear: both;
    content: '';
}
.productDescription .breadcrumb, .breadcrumb>li{
    display: inline-block;
    list-style-type: none;
    font-size: 13px;
}
.breadcrumb li:after{
    padding: 0px 5px;
    content: "/";
    display: inline-block;
}
.breadcrumb li:last-child:after{
    content: "";
    display: inline-block;
}

.sliderLayout{
    position: relative;
    margin-top:20px;
}

.slider-img {
    float: left;
    width:31%;
    height: 25%;
    min-width: 200px;
}
.slider-img .bigImgPositioner{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    min-width: 200px;

}
.slider-img .bigImgPositioner img {
    vertical-align: middle;
    display: inline-block;
    width: 70%;
}
.slider-img .minImg img{
    vertical-align: middle;
    display: inline-block;
    width: 10%;
    min-width: 28px;
}
.minImg{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.arrowLeft, .arrowRight{
    top: 10px;
    position: relative;
    display: inline-block;
    width:0;
    height: 0;
    border: 15px solid transparent ;
}
.arrowLeft{    
    border-right-color: lightskyblue; 
    border-left: 0;
}
.arrowRight{
    border-left-color: lightskyblue;  
    border-right: 0;
}
.layoutDescription{
    margin-top: 10px;
    float: left;
    width: 60%;
}
.imgStar{
    background: url('img/Symbol/rating.png')repeat-x;
    width:80px;
    height: 14px;
    margin-left: 10px;
}
.raiting{
    background: url('img/Symbol/rating-fill.png')repeat-x;
    width: 55px;
    height: 14px;
}
.layoutDescription label{
    display: inline-block;
    margin-top: 30px;
    margin-left: 7px;

}
.layoutDescription input{
    float:left;
    margin-top: 5px;
}
.addCartLoyout{
    float: right;
    font-size: 30px;
    margin-bottom: 20px;
}
.addCart{
    margin-top:20px;
    padding: 10px 16px;
    border: 1px solid #70b61f;;
    border-radius: 5px;
    background: #7dcc23;
    color:white;
    font-weight: bold;
    font-size: 25px;
}
/*Social*/
.lineSocial{
    width:100%;
    clear: both;
}
.twitter, .vkontakte, .facebook, .instagram{
    display: inline-block;
    background-image: url('img/Symbol/icosocial.png');
    background-repeat: repeat-x;
    width: 52px;
    height: 52px;
}
.twitter{
    background-position: 3%;
}
.vkontakte{
    background-position: 14.6%;
}
.facebook{
    background-position: 26.4%;
}
.instagram{
    background-position: 38.2%;
}

/*Pages Category items*/

.itemsContent { 
    margin: auto;
    position: relative; 
    padding-bottom: 40px;    
    width: 80%;
}
.viewList {    
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;    
}


/*Main path*/

menu, .itemsContent {
/*    display: inline-block;*/
    vertical-align: top;
}

.itemsContent a {    
    text-decoration: none;
    padding-left: 5px;
}

.itemsContent a:link {
    color: black;
}

.itemsContent a:visited {
    color: blue;
}

.itemsContent a:hover {
    color: orange;
}

.itemsContent a:active {
    color: red;
}

.square {  
    vertical-align: top;
    width: 10%;
    display: inline-block;
    height: 100px;
    text-align: center;
    margin: 10px 15px 15px 15px;  
    font-size: 12px;
    float: left;
}

.squareList {
    vertical-align: top;
    width: 500px;    
    height: 150px;
    text-align: center;
    margin: auto;    
    font-size: 12px;
    
}

.imgItem {    
    height: 60px;    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;   
}

.imgItemList {    
    height: 150px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;  
    float: left;
}

.inform {
    text-align: left;
    display: inline-block;
    padding-top: 15px;
    width: 350px;
}

.linkProperties {
    display: inline;   
}

.listPrice {
    display: inline-block;
    padding-right: 15px;
    float: right;
}
.itemsInfo {
    height: 30px;
    margin-top: 5px;
    overflow: hidden;
}

.addCartItem {    
    text-align: center;
    border: 1px solid #70b61f;;
    border-radius: 15px;
    background: #7dcc23;
    color:white;
    font-weight: bold;
    font-size: 25px;
    width: 140px;
}

.motherImg1 {
    background-image: url('img/motherboard/Gigabyte/GIGABYTE%20GA-78LMT-S2.jpg');
}

.motherImg2 {
    background-image: url('img/motherboard/Gigabyte/GIGABYTE%20GA-990FXA-UD5.jpg');
}
.motherImg3 {
    background-image: url('img/motherboard/Gigabyte/GIGABYTE%20GA-B85-HD3.jpg');
}
.motherImg4 {
    background-image: url('img/motherboard/Gigabyte/GIGABYTE%20GA-B85M-D3H%20(rev.%202.0).jpg');
}
.motherImg5 {
    background-image: url('img/motherboard/Gigabyte/GIGABYTE%20GA-H81M-S2PV.jpg');
}
.motherImg6 {
    background-image: url('img/motherboard/ASRock/ASRock%20970%20Pro3.jpg');
}
.motherImg7 {
    background-image: url('img/motherboard/ASRock/ASRock%20H61M-VG4.jpg');
}
.motherImg8 {
    background-image: url('img/motherboard/ASRock/ASRock%20H81M-DG4.jpg');
}
.motherImg9 {
    background-image: url('img/motherboard/ASRock/ASRock%20H97M%20Pro4.jpg');
}
.motherImg10 {
    background-image: url('img/motherboard/ASRock/ASRock%20Socket-AM1%20AM1B-MDH.jpg');
}
.cpuImg1{
    background-image: url('img/CPU/AMD/AMD%20A10-7870K%20OEM.jpg');
}
.cpuImg2{
    background-image: url('img/CPU/AMD/AMD%20FX-8300%20OEM.jpg');
}
.cpuImg3{
    background-image: url('img/CPU/Intel/Intel%20Pentium%20G3420%20OEM.jpg');
}
.coolImg1{
    background-image: url('img/Cooling/DEEPCOOL/DEEPCOOL%20Ice%20Blade%20PRO%20V2.jpg');
}
.coolImg2{
    background-image: url('img/Cooling/Thermaltake/Thermaltake%20NiC%20L31.jpg');
}
.coolImg3{
    background-image: url('img/Cooling/Zalman/Zalman%20CNPS7X.jpg');
}
.hddImg1{
    background-image: url('img/HDD/Seagate/Seagate%20Barracuda%207200.14%20ST2000DM001%202%20%D0%A2%D0%B1.jpg');
}
.hddImg2{
    background-image: url('img/HDD/Toshiba/Toshiba%20DT%2001ACA200%202%20%D0%A2%D0%B1.jpg');
}
.hddImg3{
    background-image: url('img/HDD/Western%20Digital/WD%20Caviar%20Red%20IntelliPower%20WD10EFRX%201%20%D0%A2%D0%B1.jpg');
}
.powerImg1{
    background-image: url('img/Power source/Be Quiet/Be Quiet PURE POWER L8 700W [BN225].jpg');
}
.powerImg2{
    background-image: url('img/Power source/Chieftec/Chieftec A-135 Series 650W [APS-650SB].jpg');
}
.powerImg3{
    background-image: url('img/Power source/Thermaltake/Thermaltake TR2 600W [TR-600P].jpg');
}
.powerImg4{
    background-image: url('img/Power source/Zalman/Zalman GVM 850W [ZM850-GVM].jpg');
}

.ramImg1 {
    background-image: url('img/RAM/AMD%20Radeon/AMD%20Radeon%20Entertainment%20Series%20%5BR538G1601U2S-UOUGO%5D%208%20%D0%93%D0%B1.jpg');
}
.ramImg2 {
    background-image:url(img/RAM/Crucial/Crucial%20Ballistix%20Tactical%20%5BBLT4G3D1869DT1TX0CEU%5D%204%20%D0%93%D0%B1.jpg);
}
.ramImg3 {
    background-image: url(img/RAM/Kingston/Kingston%20HyperX%20FURY%20Red%20Series%20%5BHX316C10FRK216%5D%2016%20%D0%93%D0%B1.jpg);
}

.videoImg1 {
    background-image: url('img/Video adapter/ASUS/Asus GeForce GT 730 [GT730-4GD3].jpg')
}
.videoImg2 {
    background-image: url('img/Video adapter/MSI/MSI AMD Radeon R7 370 Gaming 4G.jpg')
}
.videoImg3 {
    background-image: url('img/Video adapter/Gigabyte/GIGABYTE GeForce GTX 750 Ti BLACK EDITION GV-N75TWF2BK-2GI.jpg')
}

/*Order form*/

.orderFormLayout{
    position: relative;
    width: 390px;
    margin: auto;
    padding: 100px 0px;
}
.orderForm{
    background-image: url(img/Symbol/card-form.png);
    width: 390px;
    height: 204px;
}
.orderForm .line1{
    position: relative;
    top: 45px;
    left: 17px;
    width: 270px;
}
.lineValid{
    font-size: 12px;
    position: relative;
    top: 45px;
    left: 99px;
    margin-right: 31px;
}
.orderForm .line2{
    position: relative;
    top: 50px;
    left: 88px;
}
.line1 input,.line4 input, .line2 select{
    width: 60px;
    height: 30px;
    text-align: center;
}
.orderForm .line3{
    position: relative;
    top: 60px;
    left: 26px;
}
.orderForm .line3 input{
    width: 250px;
    height: 20px;
    text-align: center;
}
.orderForm .line4{
    position: relative;
    top: -15px;
    left: 308.5px;
}
.line5{
    width: 100px;
    position: relative;
    top: 70px;
    margin: auto;
}
.line5 input{
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    text-align: center;
}

/*Address page*/
.address {
    width: 500px;    
    margin: auto;
    height: 400px;
}
.squareAdd {
    float: left;
    margin-top: 10%;
    margin-right: 25px;
    margin-bottom: -40px;
    min-height: 150px;
    text-align: center;
    position: relative;    
    display: inline-block;
    width: 200px;
}

.addressInfo {
    text-align: left;
    margin-bottom: 7px;
}

.addressTextInfo {
    display: inline-block;    
}

.changeCountry {
    width: 110px;
    float: right;
}

.addressInfo input {
    vertical-align: middle;
    float: right;
    width: 106px;
    height: 13px;
}

.addCheck {
    font-size: 14px;
}
.addCheck input {
    float: left;
}

.address .line5 {
    margin-top: 25px;
}

/*Cart page*/

    /*Table*/
.cartPage {
    display: inline-block;
    float: right;
    min-height: 250px;
    width: 75%;
}

.cartTable {
    display: inline-block;
    float: left;
    width: 100%;    
    margin-top: 25px;
}

.itemsCart {
    float: right;
    margin-right: 15px;
    width: 95%;    
}

.itemsCart tr {
    height: 80px;
}

.cellView {
    border: 2px solid black;
}

.descriptionItem {
    display: inline-block;
    width: 90%;
    font-size: 30px;
}

.imgItemTable {
    float: left;
    display: inline-block;    
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;    
    background-position: center;
}

.img1 {
    background-image: url('img/CPU/AMD/AMD%20A8-7600%20OEM.jpg');
}

.img2 {
    background-image: url('img/RAM/Kingston/Kingston%20HyperX%20FURY%20Red%20Series%20%5BHX313C9FR4%5D%204%20%D0%93%D0%B1.jpg');
}

.linkProperties {    
    display: inline-block;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
    height: 30px;
}

.linkCart {    
    max-height: 17px;
    max-width: 400px;
    font-size: 22px;
    vertical-align: top;    
}

.countCart {
    float: right;    
    display: inline-block;
    padding-top: 5px;    
}

.countCart p {
    display: inline-block;
    text-align: center;
    font-size: 20px;   
}

.cartInput {
    display: inline-block;
    vertical-align: middle;    
}

.cartInput input {
    width: 30px;
    height: 30px;    
    font-size: 20px;
}

.cartPriceView {
    vertical-align: middle;
    margin-left: 10px;    
    display: inline-block;
}

.itemsRemove {
    padding-top: 4px;
    height: 30px;
    font-size: 20px;
    text-align: right;
}
    
    /*Total Table*/
.totalPriceTable {    
    text-align: right;    
    margin-right: 15px; 
    font-size: 30px;
}

.payTable {
    display: inline-block;
    float: right;
    width: 300px;
    height: 50px;
}

.cartPage .toCheckout {
    float: right;
}

    /*Total*/

.totalBar {
    margin-top: 25px;
    min-height: 150px;
    width: 20%;
    display: inline-block;
    float: right; 
    text-align: center;
    padding-bottom: 50px;
}

.totalBar h2{
    font-size: 40px;
    margin-bottom: 2px;
    text-align: left;
}

.totalBar p {
    text-align: left;
    font-size: 20px;
}

.totalBar hr {    
    margin-top: 20px;
    margin-bottom: 20px;
}

.totalBar h1 {
    font-size: 45px;
}

.toCheckout {
    display: inline-block;    
    padding: 10px 16px;
    border: 1px solid #70b61f;;
    border-radius: 5px;
    background: #7dcc23;
    color:white;
    font-weight: bold;
    font-size: 25px;
}
