html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
}

.page {
	display: flex;	
	flex-flow: row wrap;
	min-height: 100%;
	
	&__content {
		width: 100%;
    	display:flex;    
    	margin: auto;
		margin-top:70px;
		flex-direction: column;
	}
}

@media screen and (min-width:1100px) {
	.page__content {
		flex-direction: row;
	}	
}