.footer__mother {	
	align-self: flex-end;
	width: 100%;
	box-sizing: border-box;	
	height: 50px;
	padding-top: 12px;
	text-align: center; 
	font-size: 20px;
	background: -webkit-radial-gradient(center, circle farthest-side, #000, #7a7a7a 80%);
	color: white;}