header:after {
	display: block;
  	content: '';
  	clear: both;
}

.page__header {
	width: 100%;
	height: 70px;
	position: fixed;
	z-index: 1;
}

.all__header{	
	font-size: 20px;
	background: radial-gradient(center, circle farthest-side, #000, #7a7a7a 80%);
  	color: white;
	&__elements { 
		display: inline-block;
		border: 1px solid #b8b8b8;
        color: white;
        margin: 17px 5px 5px; }
    &__elements--logo {
		border: none;
        width: 53px;
        height: 40px;
        background: url("../img/Symbol/4.gif");
        background-repeat: no-repeat;
        background-size: contain; }
	&__elements--search, &__elements--basket, &__elements--authorization {
        float: right; }
    &__elements--basket, &__elements--authorization {
        border: 1px solid black;
        border-radius: 4px;
        padding: 5px;
        text-decoration: none; }
	&__elements--search  {
        margin-top: 22px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../img/Symbol/search.png");
        width: 30%;
    	background-position-x: 100%;
        height: 22px; }  
}

.all__header__elements--logo, .all__header-elements__authorization--img, .all__header-elements__basket--img {
	float: left;
}

.all__header-elements{
    &__basket--img {
        background-image: url("../img/Symbol/shopping-cart.gif"); }
    &__authorization--img {
        background-image: url("../img/Symbol/logo-login.png"); }
    &__authorization--img, &__basket--img {
        background-size: contain;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;}
	&__text--hidden {
        display: none; }
}   
.all__header__elements--search{
    color:black;
}
@media screen and (min-width:480px) {
	.all__header-elements {
		&__authorization--img, &__basket--img {
			padding-left: 10px;
		}
		&__text--hidden {
		display: inline-block;
		}
	}
	
	.all__header {
		&__elements {
			margin: 10px 15px;
		}
		&__elements--basket, &__elements--authorization {
			padding: 10px;
		}
		&__elements--search {
			margin-top: 22px;
			width: 170px;
			background-position-x: 147px;        
		}
	}	
}

@media screen and (min-width:480px) and (max-width:667px) {
	.all__header__elements--search {
		width: 23%;
		background-position-x: 100%;
        
	}
}