/*Content*/

.categories .imgCooling {
  background-image: url("../img/Cooling/DEEPCOOL/DEEPCOOL%20Beta%2010.jpg"); 
}
.categories .imgCooling, .imgCPU, .imgHDD, .imgMotherboard, .imgPowerSource, .imgRAM, .imgVideoAdapter {
  content: "";
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center; 
}
.categories .imgCPU {
  background-image: url("../img/CPU/Intel/Intel%20Pentium%20G2020%20OEM.jpg"); 
}
.categories .imgHDD {
  background-image: url("../img/HDD/Hitachi/Hitachi%20Deskstar%20H3IKNAS30003272SE%203%20%D0%A2%D0%B1.jpg"); 
}
.categories .imgMotherboard {
  background-image: url("../img/motherboard/Asus/ASUS%20H61M-K.jpg"); 
}
.categories .imgPowerSource {
  background-image: url("../img/Power%20source/Aero%20Cool/Aerocool KCAS 500W.jpg"); 
}
.categories .imgRAM {
  background-image: url("../img/RAM/A-Data/A-DATA%20XPG%20V1%20%5BAX3U1600W4G11-DD%5D%208%20%D0%93%D0%B1.jpg"); 
}
.categories .imgVideoAdapter {
  background-image: url("../img/Video%20adapter/ASUS/Asus AMD Radeon R7 250 [R7250-1GD5].jpg"); 
}
.content__categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.categories__layoutCategories, .category, .categories__layoutitems {
    flex-basis: 284px;
	margin-top: 20px;
}
.categories .category {
    width: 200px;
    height: 250px;
    border: 1px solid black;
    border-radius: 15px;
    margin:20px 
}
.header:after, .categories:after, footer, .itemsContent:after, .formAdd:after, .product-description:after, .description:after, .square:after, .squareElementsInclude:after, .itemscart__cellview:after, .descriptionitemlink:after, .descriptionitem__count:after, .paytable:after {
  display: block;
  content: '';
  clear: both; 
}
.categories {
  text-align: center; 
}
.category:hover {
    animation: movie 2s infinite;
    border: none;
    font-size: 18px;
}