// media.scss
@media screen and (max-width: 666px) {
    .header__elements--logo {
        width: 53px;
        height: 40px; }
    .header__elements {
        margin: 17px 5px 5px 5px; }
    .header__elements--search {
        margin-top: 22px;
        width: 150px;
        background-position-x: 126px;}
    .header-elements__authorization--img, .header-elements__basket--img {
        padding-left: 0px; }
    .header__elements--basket, .header-elements__authorization {
        padding: 5px; }
    .header-elements__text--hidden {
        display: none; }
    .product-description__slider-img {
        margin: 4px auto;
        float: none;
        width: 40%;
        height: 40%;
        min-width: 250px; } 
    .min-img{
        display: none;
    }
    .Categories:hover {
    -webkit-animation: none;
    border: 1px solid #000;
    font-size: 16px;
}

    .product-description__layout-description{
        width:100%;
        margin-top: 0px;}
    .product-section{
        width: 332px;
        margin: 20px auto 40px auto;}
    .add-cart__btn {
        padding: 7px 21px;
        font-size: 17px;}
    .layout-description__add-cart {
        margin-top: -35px;}
    .add-cart {
        font-size: 24px;}
    .layout-description__lineSocial {
        width: 220px;
        margin: auto;}
    .tab-content .Categories {
        margin: 2px;}
    .orderForm {
       }
    .line1 input, .line4 input, .line2 select {
        width: 45px;
        height: 22px;}
    .orderForm{
        background-size: contain;
        background-repeat: no-repeat;
        width: 315px;
        height: 168px;
        margin-bottom: 50px;
            .line2 {
            left: 74px;
            top: 45px;}
            .line3 {
            top: 52px;
            left: 26px;}
            .line4 {
            left: 249.5px;}
            .lineValid {
            left: 81px;
            margin-right: 20px;}
    } 
    .line3 input {
        width: 192px;
        height:18px;}


    .header, .nav, .footer, .section {
        flex: 1 auto;
    }
    .navbar { 
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: center;        
        width: 100%;
        margin-top: 65px;
        border-radius: 0px;       
        &__link {
        border-radius: 0px;
        text-align: center;
        }
        &__img {        
        height: 0px;
        } 
    }
    .navbar--desktop { 
        position: static;
        list-style-type: none;
        border: 5px solid rebeccapurple;        
    }    
    .viewmode {
        height: 0;
        text-align: right;
        margin-right: 0;
        margin-top: 0;
        overflow: hidden;
    }
    .elementspagelink {        
        width: 100%;    
    } 
    .elementspage {
        width: 100%;
    }
    
    .elementspage--style {
        overflow: hidden;
        padding-top: 0px;
    }       
    .login-form {
        padding: 20px 40px 35px;
        width: 94%;
        height: 100%;
        &__input {
        padding: 8px;
        width: 100%;
        }
    } 
    .cartpage__totalbar {order: 1;
    margin-bottom: 30px;}
    .cartpage__cart {order: 2;}
    .cartpage__totalbar, .cartpage__cart {
        width: 100%;
    }
    
    .itemscart {        
        width: 100%;        
        &__boximg {        
        width: 25%;
        }
        &__cellview {
            border-right: none;
            border-left: none;
        }
    }

    .descriptionitem {  
        width: 75%;  
        &__link {
            display: inline-block;
            float: left;
        }
    }

    .imgitemtable {  
      height: 80px;  
    }

    .linkproperties__cart {    
        width: 40%;    
    }
    .linkproperties__cart--style {    
        font-size: 12px;    
    }
    .descriptionitem__count {      
      width: 50%;}

    .cartquant {  
      font-size: 12px;  
      }

    .cartinput {
      max-height: 20px;
      display: inline-block;
      float: left;  
      }

    .cartinput input {   
      font-size: 12px;
    }

    .cartpriceview {
      font-size: 12px; 
    }

    .itemsremove {  
      font-size: 12px;
    }

}    

@media screen and (min-width: 666px) and (max-width: 800px) {
    .product-section__product-description {
        width: 100%;
        margin: 0 auto;
    }
    .product-description__layout-description {
        margin-top: -10px;
        float: right;
        width: 60%;
    }
    .product-section{
        width:95%;
        margin: 6px auto 20px;
    }
    .add-cart__btn {
        padding: 7px 21px;
        font-size: 17px;
    }
    .layout-description__add-cart {
        margin-top: -35px;
    }
    .add-cart {
        font-size: 24px;
    }
    .layout-description__lineSocial {
        width: 220px;
        margin: auto;
    }
    .tab-content .Categories {
        margin: 0px;
    }
    .Categories {
        flex-basis: auto;
    }
    .tab-content{
        &__layoutCategories, &__layoutitems, &__layoutadd{flex-basis: auto;}
    }
    
    .orderFormLayout{
        width:393px;
        margin:auto;
    }
    .orderForm {
        margin-bottom: 80px;
    }
        .Categories:hover {
    -webkit-animation: none;
    border: 1px solid #000;
    font-size: 16px;
    }
}

@media screen and (min-width:667px) and(max-width:1450px) {
    .navbar {        
        width: 100%;
        margin-top: 65px;
        border-radius: 0px;
        text-align: center;
        &__link { 
        width: 30%;
        border-radius: 0px;
        text-align: center;
        border: 2px solid rgba(12, 162, 190, 0.71);
        }
        &__img {        
        height: 0px;
        } 
    }
    .navbar--desktop { 
        position: static;        
        border: 5px solid rebeccapurple;        
    }
    .elementspage--style {        
        padding-top: 0px;
    }   
    .elementspage {
        width: 100%;
    }
}