.page__menu {
	width: 100%;
	margin-bottom: 15px;
	box-sizing: border-box;
	&:after {
		display: block;
		content: '';
		clear: both;	
	}	
}
.navbar,
.navbar__link {
      box-sizing: border-box;}
.navbar {	
	display: flex;
	flex-flow: row wrap;
	margin-top: 0;
	width: 100%;
	justify-content: center;	
	border-radius: 0px;
	
	&--desktop {
		box-sizing: border-box;	
		list-style-type: none;
		border: 5px solid rebeccapurple;	
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	
	&__link {
		width: 100%;
		border-bottom: 1px solid rebeccapurple;
		padding: 5px;
		text-decoration: none;
		padding-left: 5px;
		border-radius: 8px;		
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-bottom: -5px;
		text-align: center;
		
		&:link {
			color: black; 
		}
		
		&:visited {
			color: blue; 
		}
		
		&:hover {
			color: white;
	  		background: rebeccapurple;
		}
		
		&:active {
	  		color: red; 
		}
		
		&--active {
	 		background-color: aqua;
		}
	}	
	
	&__img {
		  display: block;
		  background-size: contain;
		  width: 30px;
		  height: 0;
		  float: left;
		  background-repeat: no-repeat;
		  background-position: left;
		  padding-right: 8px; }

	&__img--mother {
	  	background-image: url("../img/Symbol/Motherboard.jpg"); }

	&__img--cpu {
	  	background-image: url("../img/Symbol/CPU.jpg"); }

	&__img--ram {
	  	background-image: url("../img/Symbol/RAM.jpg"); }

	&__img--video {
	  	background-image: url("../img/Symbol/Video%20adapter.jpg"); }

	&__img--hdd {
	  	background-image: url("../img/Symbol/HDD.jpg"); }

	&__img--power {
	  	background-image: url("../img/Symbol/Power%20source.jpg"); }

	&__img--cooling {
	  	background-image: url("../img/Symbol/Cooling.jpg"); }
}

.caption {
	font-size: 20px;
}

@media screen and (min-width:480px) and (max-width:1100px) {	
	.navbar {		
		align-self: flex-start;
		&__link {
			width: 49%;
			border: 1px solid #639;
			margin: 1px;
		}
	}
}

@media screen and (min-width:1100px) {
	.page__menu {
		width: 12%;
		margin-top: 30px;
	}
	
	.navbar{
		&--desktop {		
			list-style-type: none;
			border: 5px solid rebeccapurple;	
			border-radius: 15px;
		}
		
		&__img {
			display: inline-block;
			background-size: contain;
			width: 30px;
			height: 25px;
			float: left;
			background-repeat: no-repeat;
			background-position: left;
			padding-right: 8px;
		}
		
		&__link {
			margin-bottom: 0;
		}
	}
		
}