
html, body {
  height: 100%;
  font-size: 16px; }

.wrapper {   
  overflow: hidden;
  min-height: 100%;}


#page{
    height: 100%;
}

.elementspage__figcaption {
    font-size: 14px;
}
.pages__items:hover {
    animation: none;
    border: 1px solid #000;
    color: orange;
    font-size: 14px;
}

@-webkit-keyframes movie {
  50% {
    font-size: 25px;
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.5); }
  100% {
    font-size: 18px;
    box-shadow: 0 0px 0px transparent; } }
/*Login*/
.modal-dialog__login-form {
  margin: 10% auto;
  position: relative;
  width: 300px;
  min-height: 200px;
  border: 1px solid black;
  border-radius: 4px; }
.login-form {
  padding: 20px 40px 35px 40px;
  background: (linear, 100% 100%, 100% 0%, color-stop(0.57, #e6e6e6), to(white)); 
    &__close{
  position: absolute;
  right: -10px;
  top: -10px;
  width: 1.3em;
  padding: 1px 1px 1px 2px;
  text-decoration: none;
  text-align: center;
  background: burlywood;
  color: black;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
  &__input {
  padding: 3px;
  width: 217px;
  margin-bottom: 7px;
  border-radius: 4px;
  border: 2px solid darkblue; }
    &__remember-me {
  width: 15px; }
    &__register {
  float: right; }
    &__header {
  text-align: center;
  padding-bottom: 2px; }    
}

/*Product description*/
@mixin order-btn{
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 16px;
    border: 1px solid #70b61f;
    border-radius: 20px;
    background: #7dcc23;
    color: white;
    font-weight: bold;
    font-size: 25px;    
    max-width: 224px;
}
.description {
  width: 100%;
  margin: 10px auto;

}
.fancybox {
    width: 826px;
    height: auto;
    position: fixed;
    top: 20px;
    left: 538px;
    opacity: 1; 
    pointer-events: none;
}
.wrapper__modal-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;

  background: rgba(0, 0, 0, 0.8); 
}
.breadcrumb li:after {
  padding: 0px 5px;
  content: "/";}
.slider{
  margin-top: 20px;
  width: 31%;
  height: 25%;
  min-width: 200px; }
.slider-img__big-img {
    width: 100%;
    min-width: 200px;
    height: 280px;}
.big-img__positioner {
  width: 70%;
  height: 100%;}
.min-img--style {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  min-width: 28px; }
.slider-img__min-img {
  width: 100%;
  margin-bottom: 10px; }
.min-img__arrow {
  top: 20px;
  position: relative;
  width: 0;
  height: 0;
  border: 25px solid transparent; }
.min-img img:nth-child(2){
    border: 1px solid blue;
}
.min-img__arrow--left {
  border-right-color: lightskyblue;
  border-left: 0; }
.min-img__arrow--right {
  border-left-color: lightskyblue;
  border-right: 0; }
.product-description__layout-description {
  width: 100%;
  margin-top: 10px;
}
 .img-star {
  background: url("../img/Symbol/rating.png") repeat-x;
  width: 80px;
  height: 14px;
  margin-left: 10px; }
.img-star__raiting {
  background: url("../img/Symbol/rating-fill.png") repeat-x;
  width: 55px;
  height: 14px; }
.layout-description__label {
  margin-top: 30px;
  margin-left: 7px; }
.layout-description__quantiti {
  margin-top: 5px; }
.layout-description__add-cart {
  float: right;
  margin-bottom: 20px;
    margin-top: -40px;}
.add-cart__btn {
    @include order-btn; }

.modal-dialog--target:target {
  display: block;
  pointer-events: auto; }
.breadcrumb {
  list-style-type: none;
 }
.big-img {
  text-align: center; }
.min-img {
  text-align: center; }
.add-cart {
  font-size: 30px; }
        /*Social*/
.layout-description__lineSocial {
    width: 16%;
    clear: both;
    margin: 0 auto; }
.lineSocial__line-social {
  background-image: url("../img/Symbol/icosocial.png");
  background-repeat: repeat-x;
  width: 52px;
  height: 52px; }
.lineSocial__twitter {
  background-position: 3%; }
.lineSocial__vkontakte {
  background-position: 14.6%; }
.lineSocial__facebook {
  background-position: 26.4%; }
.lineSocial__instagram {
  background-position: 38.2%; }

/*Pages Category items*/
/*-------------------Start not BEM notaion for items list page-------------*/
.elementsPage {
    padding-top: 70px;
    width: 90%;
    float: right; }

.itemsContent {
  margin: auto;
  position: relative;
  padding-bottom: 40px;
  width: 80%; }

.viewList {
  text-align: right;
  margin-right: 20px;
  margin-top: 10px; }

/*Main path*/
nav, .itemsContent {
  vertical-align: top; }

.itemsContent a {
  text-decoration: none; }

.itemsContent a:link {
  color: black; }

.itemsContent a:visited {
  color: blue; }

.itemsContent a:hover {
  color: orange; }

.itemsContent a:active {
  color: red; }

.square {
  vertical-align: top;
  width: 30%;
  display: inline-block;
  height: 200px;
  text-align: center;
  font-size: 12px;
  float: left; }

.squareElementInclude {
  width: 100%;
  height: 180px;
  clear: both; }

.squareElementInclude a {
  width: 80%;
  display: inline-block;
  clear: both; }

.imgItem {
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.imgItemList {
  height: 150px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  float: left; }
.motherLinkProperties {
  display: inline-block;
  white-space: nowrap;
  height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px; }
.squareList .motherLinkProperties {
  margin-left: 0; }
/*-------------Finish not BEM notaion-------------------*/

.elementspagelink__inform {    
    display: inline-block;  
    width: 70%;
}

.elementspagelink__inform--style {
    text-align: left;
    padding-top: 7px;
}
.listprice {
  display: inline-block;  
}

.listprice--style {
    float: right;
    font-size: 18px;
}

.itemsinfo {  
  height: 30px;
  margin-top: 5px;}

.itemsinfo--syle {
  font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}

.elementspagelink__addcartitem {
  
  width: 80%; }

.elementspagelink__addcartitem--style {
    text-align: center;
    border: 1px solid #70b61f;
    border-radius: 15px;
    background: #7dcc23;
    color: white;
    font-weight: bold;
    font-size: 25px; 
    margin-left: 60px;
}

/*----------------------------------------Grid View------------------------------*/
.elementspage {
  width: 90%;
  float: right;
  margin-bottom: 70px; }

.elementspage--style, .cartpage--style {
  padding-top: 70px; }

.elementspagelist:after, .elementspagelink__inform:after, .cartpage__carttotal:after {
  display: block;
  content: '';
  clear: both; }

/*Items*/
.elementspagelink {
  text-decoration: none;
    width: 80%;    
}

.elementspagelink:link {
  color: black; }

.elementspagelink--style {  
  display: inline-block;
  clear: both; }

.elementspagelink:visited {
  color: blue; }

.elementspagelink:hover {
  color: orange; }

.elementspagelink:active {
  color: red; }

.elementspagelink__img {
  content: "";
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.elementspagelink__img--img1 {
  background-image: url("../img/motherboard/Gigabyte/GIGABYTE%20GA-78LMT-S2.jpg"); }

.elementspagelink__img--img2 {
    background-image: url("../img/motherboard/Gigabyte/GIGABYTE%20GA-990FXA-UD5.jpg");
}
.elementspagelink__img--img3 {
    background-image: url("../img/motherboard/Gigabyte/GIGABYTE%20GA-B85-HD3.jpg");
}
.elementspagelink__img--img4 {
    background-image: url("../img/motherboard/Gigabyte/GIGABYTE%20GA-H81M-S2PV.jpg");
}

/*----------------------------------------List View-------------------------------*/
.elementspagelist {
  width: 500px;  
  margin: auto; 
}

.elementspagelist--style {
  vertical-align: top;
  text-align: center;
  font-size: 12px; }

.linkproperties {
    display: inline-block;
    width: 70%;  
    font-size: 18px;
    white-space: nowrap;    
}

.elementspagelink__imglist {
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;   
    background-position: center;
}

.elementspagelist__list {
    text-decoration: none;
    width: 30%;
    float: left;
}

/*Order form*/

.orderFormLayout {
    position: relative;
    width: 390px; }
.orderForm {
    .line1, .line2, .line3, .line4, .line5, .lineValid{
          position: relative;}
  background-image: url("../img/Symbol/card-form.gif");
  width: 390px;
  height: 204px; 
    .line1 {
  top: 45px;
  left: 17px;
  width: 270px; }
    .line2 {
  top: 50px;
  left: 88px; }
    .line3 {
  top: 60px;
  left: 26px; }
    .line4 {
  top: -15px;
  left: 308.5px; }
    .line5 {
  z-index: 1;
  width: 100px;
  top: 70px;
    margin: 10px auto; }
    .lineValid {
  font-size: 12px;
  top: 45px;
  left: 99px;
  margin-right: 31px; }
}
.line1 input, .line4 input, .line2 select {
  width: 60px;
  height: 30px;
  text-align: center; }
.line3 input {
  width: 250px;
  height: 20px;
  text-align: center; }
.line5 input {
  z-index: 1;
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  text-align: center; }
.finish-btn{
    @include order-btn;
}

/*Address page*/
.product-section__add {    
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;    
}
.tab-content__layoutadd {
    margin-left: 30px;
    margin-right: 30px;
    flex-basis: 350px;
    list-style-type: none;
}
.titleadd--style {
    font-size: 35px;
}
.address {
  width: 80%;
  margin: auto;
  min-height: 100%;
}
.formadd {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.addressinfo {
  font-size: 35px;
  text-align: left;
  margin-bottom: 7px; }
.changeCountry {
  width: 110px;
  float: right;}

.addressinfo input {
  font-size: 25px;
  vertical-align: middle;
  float: right;
  width: 50%;
  height: 33px; }
.addcheck {
  font-size: 25px;
  input {
    width: 25px;
    height: 25px;
    float: left; }
}
.buttonAdd {
  clear: both;
  width: 100%;
  height: 100px;
  margin: auto;
  text-align: center;
  padding-top: 50px; }

.background{
    background: aqua;
}

#card1-error, #card2-error, #card3-error, #card4-error {
    position: absolute;
    top: -75px;
    display: block;
}

@import 'app.scss';